<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="CRMDb" connectionString="Data Source=192.168.1.14;Initial Catalog=SmartCRM;User ID=smarttouchdev;Password=myp@$$dev; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ELASTICSEARCH_INSTANCE" value="http://192.168.1.14:9200" />
    <add key="SEARCH_ENGINE_CLIENT_LOG_FILE_PATH" value="D:\Websites\Logs\SearchEngineClient.log" />
    <add key="CAMPAIGN_RECIPIENTS" value="9492" />
    <add key="CHUNK_SIZE" value="10000" />
    <!-- Contacts,Tags,Campaigns,Forms,Opportunities,webvisits,SuppressionEmails,SuppressedDomains -->
    <add key="MODULES" value="SuppressionEmails,SuppressedDomains" />
    <!-- this is applicable only for contacts. please mention account id only if contacts specific to that account need to be indexed-->
    <add key="Accounts" value="1,4218" />
    <add key="environment" value="QA" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="stdevnotifier@landmarkit.in">
        <network defaultCredentials="false" host="mail.landmarkit.in" port="587" enableSsl="false" userName="stdevnotifier@landmarkit.in" password="5!d3N0t!f!3R" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
