<script type="text/html" id="campaignLink">
    <li>
        <div role="dialog" data-bind="attr:{id: 'addcampaignlink-'+LinkIndex}" class="modal fade in" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="Tour">
                        <div id="editTour" class="">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button" data-bind="click:$parent.cancelLink.bind($data,LinkIndex)">X</button>
                                <h4 class="modal-title"><span class="icon st-icon-pin-2 display-inline"></span>[|Add Link|]</h4>
                            </div>
                            <div class="modal-body">
                                <div class="dp-topnav-inner-body">
                                    <div class="row">
                                        <div class="form-group ">
                                            <label class="control-label">[|Web Address|]<span class="required">*</span></label>
                                            <input class="form-control" data-bind="value:URL.URL " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-left">
                                    <a class="btn btn-lg btn-primary" data-bind="click:$parent.addLink.bind($data,LinkIndex)"><span>[|Add|]</span></a>
                                    <a class="btn btn-lg" data-dismiss="modal" data-bind="click:$parent.cancelLink.bind($data,LinkIndex)">[|Cancel|]</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </li>
</script>

<script type="text/html" id="addEditCampaignLink">
    <div role="dialog" data-bind="attr:{id: 'addcampaignlink'}" class="modal fade in hide" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="Tour">
                    <div id="editTour" class="">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" data-bind="click:cancelLink.bind($data)">X</button>
                            <h4 class="modal-title"><span class="icon st-icon-pin-2 display-inline"></span>[|Add Link|]</h4>
                        </div>
                        <div class="modal-body">
                            <div class="dp-topnav-inner-body">
                                <div class="row">
                                    <div class="form-group ">
                                        <label class="control-label">[|Web Address|]<span class="required">*</span></label>
                                        <input class="form-control" data-bind="value:temporaryLink().URL.URL" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-left">
                                <a class="btn btn-lg btn-primary" data-bind="click:addLink.bind($data)"><span>[|Add|]</span></a>
                                <a class="btn btn-lg" data-dismiss="modal" data-bind="click:cancelLink.bind($data)">[|Cancel|]</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>