<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="enterpriseConfiguration" type="LandmarkIT.Enterprise.Common.EnterpriseCommunicationConfigurationSection, LandmarkIT.Enterprise.Common" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="CRMDb" connectionString="Data Source=52.173.23.244;Initial Catalog=SmartCRM;User ID=smarttouchdev;Password=vensai@123; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
    <add name="CommunicationDb" connectionString="Data Source=52.173.23.244;Initial Catalog=EnterpriseCommunication;User ID=smarttouchdev;Password=vensai@123; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <enterpriseConfiguration>
    <enterpriseCommunication connectionStringName="CommunicationDb" />
  </enterpriseConfiguration>
  <appSettings>
    <add key="ELASTICSEARCH_INSTANCE" value="http://192.168.1.14:9200" />
    <add key="SMART_CRM_JOB_PROCESSOR_LOG_FILE_PATH" value="D:\Websites\Logs\SmartCRMCampaignProcessor.log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EMAILTEMPLATES_PHYSICAL_PATH" value="\\192.168.1.14\images\et" />
    <add key="ATTACHMENT_PHYSICAL_PATH" value="D:\Websites\SmartTouch\website\attachments\" />
    <add key="IMAGE_HOSTING_SERVICE_URL" value="//services.smarttouch.com/images/" />
    <add key="FullContactKey" value="c6df998bb654c7a4" />
    <add key="INCLUDE_VMTA_ENVID" value="YES" />
    <add key="INCLUDE_VMTA_ENVELOPE" value="YES" />
    <add key="environment" value="QA" />
    <add key="mailgun_apikey" value="pubkey-8m8c0meo1iqma9-equ7b-eypozm6s9a1" />
    <add key="mailgun_url" value="https://api.mailgun.net/v3" />
    <add key="iKey" value="fe4e792a-2131-4b47-891d-c962b27f4ca6" />
    <!--Lead Adapter Processor Start-->
    <add key="NoOfRecordsToBeProcessed" value="20" />
    <add key="SupportEmailId" value="smartcrm1@gmail.com" />
    <add key="Notification_Email" value="smartcrm1@gmail.com" />
    <add key="IMAGE_PHYSICAL_PATH" value="\\192.168.1.14\images" />

    <!--Lead Adapter Processor End-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Extensions.LifetimeScoping" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="stdevnotifier@landmarkit.in">
        <network defaultCredentials="false" host="mail.landmarkit.in" port="587" enableSsl="false" userName="stdevnotifier@landmarkit.in" password="5!d3N0t!f!3R" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
