@using SmartTouch.CRM.ApplicationServices.ViewModels
@model ResetPasswordViewModel

@Scripts.Render("~/bundles/uservm")

<div id="resetuserpassword">
    <div class="drop-heading">
        <span class="icon st-icon-spam display-inline"></span> <h4 class="panel-title display-inline plm">[|Reset Password|]</h4>
    </div>
    <div class="dp-topnav-inner-body" style="min-height:84px">
        <div class="row">
            <div class="form-group col-lg-5">
                <div class="form-group">    
                    <a href="#" data-title="Password should contain at least one digit, one lower-case letter, one upper-case letter, one special character and at least 6 characters long." class="login-tooltipReset"><i title="" class="fui-question"></i></a>
                    <input type="text" placeholder="[|Reset Password|]" class="form-control input-group-lg" data-bind="value:Password" maxlength="75">
                </div>
            </div>

        </div>
    </div>
    <div class="panel-footer">
        <div>
            <a class="btn btn-lg btn-primary" data-bind="click:saveUserPassword"><span>[|Save|]</span></a>
            @*<a href="javascript:void(0)" class="btn btn-lg btn-primary" onclick="CloseTopInner(this)">Update Status</a>*@
            <a href="javascript:void(0)" class="btn btn-lg" onclick="CloseTopInner(this)">[|Cancel|]</a>
        </div>
    </div>
</div>
<script>
    $(function () {
        var BASE_URL = '@Url.Content("~/User/")';
        var user = @(Html.Raw(Json.Encode(Model)));
        var role = [{Id:0,RoleName:"Sales"}];
        var viewModel2 = new userViewModel(user,role,BASE_URL);
        ko.applyBindings(viewModel2,document.getElementById("resetuserpassword"));

        var selectedUsers = fnGetSelectedUsers('chkuser');
        if(selectedUsers.length == 1){
            viewModel2.Status(selectedUsers[0].Status);
            console.log(selectedUsers[0]);
        }
    });
    checkedvalues = fnGetChkvalGrid('chkuser');
</script>



