
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[|AuthorizeMedia|]</title>
    <script  type="text/javascript">
        window.setTimeout(function () {
            window.close()
        }, 2000);
    </script>
</head>
<body>
    <div id="close" style="display:none"> 
        [|Closing window...|]
    </div>
</body>

</html>
