<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="enterpriseConfiguration" type="LandmarkIT.Enterprise.Common.EnterpriseCommunicationConfigurationSection, LandmarkIT.Enterprise.Common" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="CRMDb" connectionString="Data Source=52.173.23.244;Initial Catalog=SmartCRM;User ID=smarttouchdev;Password=vensai@123; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
    <add name="CommunicationDb" connectionString="Data Source=52.173.23.244;Initial Catalog=EnterpriseCommunication;User ID=smarttouchdev;Password=vensai@123; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <!--<enterpriseConfiguration>
    <enterpriseCommunication connectionStringName="CommunicationDb" />
  </enterpriseConfiguration>-->
  <appSettings>
    <add key="ELASTICSEARCH_INSTANCE" value="http://192.168.1.14:9200" />
    <add key="WINDOWS_SERVICE_LOG_FILE_PATH" value="D:\Websites\Logs\SmartCrmScheduler.log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EMAILTEMPLATES_PHYSICAL_PATH" value="\\192.168.1.14\images\et" />
    <add key="IMAGE_HOSTING_SERVICE_URL" value="//services.smarttouch.com/images/" />
    <add key="DAILY_SUMMARY_MAIL_JOB_CRON_EXPRESSION" value="0 0/15 * 1/1 * ? *" />
    <add key="FAILED_FORM_JOB_CRON_EXPRESSION" value="0 0 12 1/1 * ? *" />
    <add key="PARALLEL_ITERATIONS" value="4" />
    <add key="MAXDEGREEOFPARALLESIM" value="4" />
    <add key="environment" value="QA" />
    <add key="iKey" value="fe4e792a-2131-4b47-891d-c962b27f4ca6" />
    <add key="NIGHTLYREPORT_PHYSICAL_PATH" value="D:\Websites\SmartTouch\NightlyReport\attachments\" />
    <add key="NIGHTLY_REPORT_JOB_CRON_EXPRESSION" value="0 0 12 1/1 * ? *" />
    <add key="NIGHTLY_REPORTED_EMAILS" value="saikrishna.mandali@landmarkit.in,ravindra.challagandla@landmarkit.in,vadalisetty.surendrababu@gmail.com" />
    <add key="SUPPORT_EMAILID" value="support@smarttouchinteractive.com" />
    <add key="EXCLUDING_DISCLIAMAR_ACCOUNTS" value="339,2037" />
  </appSettings>
  
  <enterpriseConfiguration>
    <enterpriseCommunication connectionStringName="CommunicationDb" />
  </enterpriseConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="customTextMessageEncoding" type="Microsoft.Samples.CustomTextMessageEncoder.CustomTextMessageBindingElement, CustomTextEncoder" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="MyBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <httpsTransport authenticationScheme="Basic" manualAddressing="true" maxReceivedMessageSize="524288000" transferMode="Streamed" />
          <customTextMessageEncoding encoding="iso-8859-1" messageVersion="Soap11">
            <!--<readerQuotas
                maxDepth="32"
                maxStringContentLength="8192"
                maxArrayLength="16384"
                maxBytesPerRead="4096"
                maxNameTableCharCount="16384"
                    />-->
          </customTextMessageEncoding>
          <httpTransport allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" transferMode="Buffered" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="clientWSDLBinding">
          <security mode="Transport" />
        </binding>
        <binding name="clientWSDLBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://idxco.com:443/services/clientWSDL_1-4.php" binding="customBinding" bindingConfiguration="MyBinding" contract="IdxServiceReference.clientWSDLPortType" name="clientWSDLPort" />
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="stdevnotifier@landmarkit.in">
        <network defaultCredentials="false" host="mail.landmarkit.in" port="587" enableSsl="false" userName="stdevnotifier@landmarkit.in" password="5!d3N0t!f!3R" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
