<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="enterpriseConfiguration" type="LandmarkIT.Enterprise.Common.EnterpriseCommunicationConfigurationSection, LandmarkIT.Enterprise.Common" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CRMDb" connectionString="Data Source=52.173.23.244;Initial Catalog=SmartCRM;User ID=smarttouchdev;Password=vensai@123; multipleactiveresultsets=true" providerName="System.Data.SqlClient"/>
    <add name="CommunicationDb" connectionString="Data Source=52.173.23.244;Initial Catalog=EnterpriseCommunication;User ID=smarttouchdev;Password=vensai@123; multipleactiveresultsets=true" providerName="System.Data.SqlClient"/>
    <!--<add name="CommunicationDb" connectionString="Data Source=192.168.1.30;Initial Catalog=SmartCRM;User ID=SmartCRM;Password=$m@rtCRM; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--BEGIN - Enterprise Library Configuration-->
  <enterpriseConfiguration>
    <enterpriseCommunication connectionStringName="CommunicationDb" />
  </enterpriseConfiguration>
  <!--END - Enterprise Library Configuration-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Debug -->
    <!--<add key="ELASTICSEARCH_INSTANCE" value="http://localhost:9200" />-->
    <add key="ELASTICSEARCH_INSTANCE" value="http://192.168.1.14:9200" />
    <add key="WEBSERVICE_URL" value="https://services.smarttouch.net" />
    <add key="SIGNALR_URL" value="http://localhost:51655/signalr" />
    <add key="WEBAPP_LOG_FILE_PATH" value="E:\Logs\Website\Webapp.log" />
    <add key="IMAGE_PHYSICAL_PATH" value="\\192.168.1.14\images" />
    <add key="ATTACHMENT_PHYSICAL_PATH" value="D:\Websites\SmartTouch\website\attachments\" />
    <add key="Notification_Email" value="smartcrm1@gmail.com" />
    <add key="Excluded_Accounts" value="94" />
    <add key="CAMPAIGN_LAYOUT_TEMPLATES_PHYSICAL_PATH" value="\\192.168.1.14\images\SmartTouch\ci\" />
    <add key="IMAGESIZERESTRICTION" value="3145728" />
    <add key="LEADADAPTER_PHYSICAL_PATH" value="\\192.168.1.14\leadadapters" />
    <add key="EMAILTEMPLATES_PHYSICAL_PATH" value="\\192.168.1.14\images\et" />
    <add key="WEB_URL" value="http://localhost:60957/" />
    <add key="IMAGE_HOSTING_SERVICE_URL" value="//services.smarttouch.com/images/" />
    <add key="LEADSCOREQUEUE" value="leadscoreqaqueue" />
    <add key="SMARTCRMDOMAIN" value=".smarttouch.com" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="VMTA_DEFAULT" value="customer51" />
    <add key="SERVICEBUS_TOPICNAME" value="smartcrmdevtopic" />
    <add key="SERVICEBUS_LEADSCORESUBSCRIPTION_NAME" value="leadscoremessages" />
    <add key="SERVICEBUS_AUTOMATIONSUBSCRIPTION_NAME" value="automationmessages" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://smartcrm.servicebus.windows.net/;SharedAccessKeyName=SmartCRM;SharedAccessKey=10w6H9ejhio4Zka6GWUDiY/fwldBl08TA618QDK9OIg=" />
    <add key="SmarttouchSiteName" value="SmartTouch.CRM.Web" />
    <add key="SmarttouchImageSiteName" value="images" />
    <add key="SSLSerialNumber" value="36D7E94C036569BB4A81C7567479B44E" />
    <add key="FullContactKey" value="c6df998bb654c7a4" />
    <add key="mailgun_apikey" value="pubkey-8m8c0meo1iqma9-equ7b-eypozm6s9a1" />
    <add key="mailgun_url" value="https://api.mailgun.net/v3" />
    <add key="IsHttpsMode" value="false" />
    <add key="MASTER_ACCOUNT_DNS" value="localhost" />
    <add key="CERTIFICATE_SUBJECT" value="cn=localhost" />
    <add key="WEBSOCKET_PORT" value="4502" />
    <add key="NeverBounce_Update_Email" value="avinash.mallidi@landmarkit.in" />
    <add key="SupportEmailId" value="smartcrm1@gmail.com" />
    <!-- i18n app keys starts from here-->
    <!-- Rel to web.config file -->
    <add key="i18n.DirectoriesToScan" value="../../.." />
    <add key="i18n.WhiteList" value="*.cs;*.cshtml;*viewmodel.js" />
    <add key="i18n.AvailableLanguages" value="en;fr" />
    <add key="i18n.LocaleDirectory" value="../../crm-locale" />
    <add key="i18n.NuggetBeginToken" value="[|" />
    <add key="i18n.NuggetEndToken" value="|]" />
    <add key="i18n.NuggetDelimiterToken" value="||||" />
    <add key="i18n.NuggetCommentToken" value="////" />
    <add key="INCLUDE_VMTA_ENVID" value="NO" />
    <add key="INCLUDE_VMTA_ENVELOPE" value="YES" />
    <add key="SMARTTOUCH_APIKEY" value="9805B2CE-D52D-43E3-B42C-2F9AEB69F0C8" />
    <add key="NotificationInterval" value="60000" />
    <add key="environment" value="localhost" />
    <add key="STATIC_DOMAIN" value="" />
    <add key="STATIC_VERSION" value="1.0" />
    <add key="helpURL" value="https://smarttouch.atlassian.net/servicedesk/customer/portal/3" />
    <add key="EXCLUDING_DISCLIAMAR_ACCOUNTS" value="339,2037" />
    <add key="WhitePagesURL" value="https://proapi.whitepages.com/3.0/location?" />
    <add key="WhitePagesKey" value="eb59335ceb8c420b9bc52220572bf9d2" />
    <add key="ZillowAddressLookupURL" value="http://www.zillow.com/webservice/" />
    <add key="ZillowAddressLookupKey" value="X1-ZWz1cws4nkwy6j_3o1g1" />
    <!-- Debug -->
    <!--QA-->
    <add key="XSockets.PluginCatalog" value="" />
    <add key="XSockets.PluginFilter" value="*.dll" />
    <add key="iKey" value="fe4e792a-2131-4b47-891d-c962b27f4ca6" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime maxRequestLength="100240" executionTimeout="120" targetFramework="4.5.1" requestPathInvalidCharacters="" requestValidationMode="2.0" />
	  <pages validateRequest="false" />
    <customErrors mode="On" defaultRedirect="~/Error">
      <error redirect="~/Error/NotFound" statusCode="404" />
      <error redirect="~/Error/Index" statusCode="500" />
    </customErrors>
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="i18n.Domain" publicKeyToken="b54a7283d4bad1bb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.5.0" newVersion="2.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="no redirection for png" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="(.png)$" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="HTTP to HTTPS Stage" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^([^.]+)\.smarttouch\.net$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URL}" redirectType="Permanent" />
        </rule>
        <rule name="HTTP to HTTPS Production" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^([^.]+)\.smarttouchinteractive\.com$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URL}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2147483647" maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <modules>
      <add name="i18n.LocalizingModule" type="i18n.LocalizingModule, i18n" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.24:00:00" cacheControlCustom="public" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="stdevnotifier@landmarkit.in">
        <network defaultCredentials="false" host="mail.landmarkit.in" port="587" enableSsl="false" userName="stdevnotifier@landmarkit.in" password="5!d3N0t!f!3R" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  </glimpse>
</configuration>