<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="locale_path" value="D:\SmartTouchCRM\Development\crm-locale"/>
  <add key="languages" value="en"/>
</appSettings>
<connectionStrings>
  <add name="CRMDb" connectionString="Data Source=192.168.1.211;Initial Catalog=SmartCRM;User ID=smarttouchdev;Password=myp@$$dev; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>