<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.76.0" targetFramework="net451" />
  <package id="CsvHelper" version="2.13.5.0" targetFramework="net451" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net451" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.SemanticLogging" version="2.0.1406.1" targetFramework="net451" />
  <package id="EnterpriseLibrary.SemanticLogging.Database" version="2.0.1406.1" targetFramework="net451" />
  <package id="EnterpriseLibrary.SemanticLogging.TextFile" version="2.0.1406.1" targetFramework="net451" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net451" />
  <package id="EPPlus" version="4.0.5" targetFramework="net451" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights" version="2.0.1" targetFramework="net451" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net451" />
</packages>