
@{
    // ViewBag.Title = "CampaignListReport";
    var DateFormat = ViewBag.DateFormat;
    var ItemsPerPage = ViewBag.ItemsPerPage;
}

<div class="clearfix no-grid-resize" data-bind="visible: webVisitsActivated">
    <div id="contact-webvisits-grid" width="100%"></div>
</div>
