<div id="emailbody">
    <div>
        <div>
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><span class="icon st-icon-envelope"></span> Email Body</h4>
            </div>
            <div class="modal-body">
                <div class="dp-topnav-inner-body">
                    @Html.Raw(ViewBag.EmailBody)
                </div>
            </div>
        </div>
    </div>
</div>

