@using SmartTouch.CRM.ApplicationServices.ViewModels
@model AdvancedSearchExportViewModel
<script src="~/Scripts/ViewModels/AdvancedSearchExportViewModel.js"></script>

@{

}
<div class="moreinner" id="asexport">
    <div class="drop-heading more-heading">
        <span class="icon st-icon-export-1 display-inline"></span>
        <h4 class="panel-title display-inline plm">[|Export Contact|]</h4>
    </div>
    <div class="dp-topnav-inner-body moreinner-body">
        <div class="form-group">
            <label>[|Selected Fields|]</label>
            <div>
                <select data-bind="kendoMultiSelect :{ data: SearchFields,dataValueField:'FieldId',dataTextField:'Title', value: SelectedFields }" class="col-100"></select>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">[|Sort By|]</label>
                        <select data-bind="kendoDropDownList :{ data: selectedDropDownItems,dataValueField:'TypeId',dataTextField:'Name', value: SortBy }"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">[|Sort Order|]</label>
                        <select data-bind="kendoDropDownList :{ data: SortOrderDropDownItems, value: SortOrder,dataValueField:'OrderID',dataTextField:'OrderName' }"></select>
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">[|Export As|]</label>
                    <select id="asExport" data-bind="kendoDropDownList :{ data: ExportTypes, value: DownloadType, dataValueField:'Id', dataTextField:'Value' }"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="pull-left">
            @*<a data-bind="attr: { href: '@Url.Action("ExprortAsFile", "Contact")?exportPerson=' + SomeField()},click: ExportContacts" class="btn btn-lg btn-primary">Export</a>*@

            <a data-bind="click: ExportContacts" class="btn btn-lg btn-primary">[|Export|]</a>

            <a href="javascript:void(0)" class="btn btn-lg" onclick="CloseTopInner(this)">[|Cancel|]</a>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var ADVANCEDSEARCH_BASE_URL = '@Url.Content("~/AdvancedSearch/")';
        var ExportViewModel = @(Html.Raw(Json.Encode(Model)));
        var WEBSERVICE_URL = '@HttpContext.Current.Application["webservice_url"]';
        if(localStorage.getItem("ContactsGrid") == null)
            $("#asexport").addClass("st-top0");
        var ViewModel = new AdvancedSearchExportViewModel(ExportViewModel, ADVANCEDSEARCH_BASE_URL);
        ko.applyBindings(ViewModel, document.getElementById("asexport"));
    });
</script>

