@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NotFound";
}

<div class="body-container">
    <section class="main-container">
        <div class="error">
            <div class="error-view">
                <div class="error-heading">403</div>
                <div class="error-heading-msg">Access Denied</div>
            </div>
            <div class="error-message">
                <div class="error-msg-title">Uh no!</div>
                <div class="error-msg-dis">You don't have permission to access this page!</div>
            </div>
        </div>
    </section>
</div>


