
<div id="partial-GET-DropDownValueFields_accountId">
    <div data-bind="text:MethodDescription().Documentation"></div>

    @Html.Partial("_RequestParameters")
    <h2>Response Information</h2>
    <h3>Resource Description</h3>
    <p>All Dropdown values</p>
    <a href="/Help/ResourceModel?modelName=HttpResponseMessage">HttpResponseMessage</a>
        <table class="help-page-table">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Type</th><th>Additional information</th></tr>
        </thead>
        <tbody>
            <tr>
                <td class="parameter-name">Version</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    <a href="/Help/ResourceModel?modelName=Version">Version</a>
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">Content</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    <a href="/Help/ResourceModel?modelName=HttpContent">HttpContent</a>
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">StatusCode</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    <a href="/Help/ResourceModel?modelName=HttpStatusCode">HttpStatusCode</a>
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">ReasonPhrase</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    string
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">Headers</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    Collection of             Object


                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">RequestMessage</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    <a href="/Help/ResourceModel?modelName=HttpRequestMessage">HttpRequestMessage</a>
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">IsSuccessStatusCode</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    boolean
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <h3>Response Formats</h3>

        <h4 class="sample-header">application/json, text/json</h4>
        <div class="sample-content">
            <span><b>Sample:</b></span>
            <pre>{  
   "TotalHits":2,
   "DropdownValuesViewModel":[  
      {  
         "DropdownID":1,
         "Dropdownname":"Phone Number Type",
         "DropdownValuesList":[  
            {  
               "SortID":1,
               "DropdownValue":"Home",
               "DropdownValueID":147,
               "AccountID":5,
               "DropdownID":1,
               "IsDefault":false,
               "IsActive":true,
               "DropdownValueTypeID":11,
               "OpportunityGroupID":0,
               "IsDeleted":false
            },
            {  
               "SortID":2,
               "DropdownValue":"Mobile",
               "DropdownValueID":148,
               "AccountID":5,
               "DropdownID":1,
               "IsDefault":false,
               "IsActive":true,
               "DropdownValueTypeID":9,
               "OpportunityGroupID":0,
               "IsDeleted":false
            },
            {  
               "SortID":3,
               "DropdownValue":"Business",
               "DropdownValueID":149,
               "AccountID":5,
               "DropdownID":1,
               "IsDefault":true,
               "IsActive":true,
               "DropdownValueTypeID":10,
               "OpportunityGroupID":0,
               "IsDeleted":false
            },
            {  
               "SortID":4,
               "DropdownValue":"Fax",
               "DropdownValueID":1252,
               "AccountID":5,
               "DropdownID":1,
               "IsDefault":false,
               "IsActive":true,
               "DropdownValueTypeID":3,
               "OpportunityGroupID":0,
               "IsDeleted":false
            }
         ],
         "dropdownValuesToString":"Home,  Mobile,  Business,  Fax",
         "AccountID":0
      },
      {  
         "DropdownID":2,
         "Dropdownname":"Address Type",
         "DropdownValuesList":[  
            {  
               "SortID":1,
               "DropdownValue":"Home",
               "DropdownValueID":173,
               "AccountID":5,
               "DropdownID":2,
               "IsDefault":true,
               "IsActive":true,
               "DropdownValueTypeID":2,
               "OpportunityGroupID":0,
               "IsDeleted":false
            },
            {  
               "SortID":2,
               "DropdownValue":"Mailing",
               "DropdownValueID":174,
               "AccountID":5,
               "DropdownID":2,
               "IsDefault":false,
               "IsActive":true,
               "DropdownValueTypeID":5,
               "OpportunityGroupID":0,
               "IsDeleted":false
            },
            {  
               "SortID":3,
               "DropdownValue":"Work",
               "DropdownValueID":175,
               "AccountID":5,
               "DropdownID":2,
               "IsDefault":false,
               "IsActive":true,
               "DropdownValueTypeID":6,
               "OpportunityGroupID":0,
               "IsDeleted":false
            }
         ],
         "dropdownValuesToString":"Home,  Mailing,  Work",
         "AccountID":0
      }
   ],
   "Exception":null
}
</pre>

        </div>
        <div>
            <h3>API examples</h3>
            <p>
                SmartTouch CRM Enterprise customers should make sure to change the API endpoint domain in all the example calls to the domain for their specific environment.
            </p>

        </div>
        <div>
            <h3>Using Postman</h3>
            <p>
                If you use <a target="_blank" href="https://developers.sparkpost.com/api/?_ga=1.31126975.1017077945.1490713834">Postman</a> you can click the following button to import the SmartTouch CRM API as a collection:
            </p>
            <p>
                <a id="ptmnlnk" href="javascript:void(0)"><img src="~/img/postrunbutton.png" /></a>
            </p>
            <div class="alert alert-info"><strong>Note</strong>: SmartTouch CRM Enterprise customers will need to change the Account and  endpoint in the URL field for each call</div>
        </div>
        <div>
            <h3>Errors</h3>
            <p>When you make an API call you may receive an error message in response. Either there is something wrong with your request or something went wrong on our end. Errors respond with an error code and JSON that contains a more precise message, description and API code.</p>
        </div>
        <div>
            <h3>Example Error</h3>
            <pre><code><span class="hljs-number"></span> AccountId is mandatory</code></pre>
            <pre><code>{
    "<span class="hljs-attribute">errors</span>": <span class="hljs-value">[
        {
            "<span class="hljs-attribute">AccountId</span>": <span class="hljs-value"><span class="hljs-string">"null"</span></span>,
            "<span class="hljs-attribute">description</span>": <span class="hljs-value"><span class="hljs-string">"AccountId is required"</span></span>,
        }
    ]
</span>}</code></pre>
        </div>
        <div>
            <h3>
                Error Table
            </h3>
            <table cellpadding="0" cellspacing="0" border="0" style="border:solid 1px #d9d9d9;">
                <thead>
                    <tr>
                        <td align="left" width="200px" style="margin:0px;padding:10px;font-size:13px; font-weight:bold;color:#555555;font-family:arial,sans-serif; border-bottom:solid 1px #d9d9d9;">Status Name</td>
                        <td align="left" width="500px" style="margin:0px;padding:10px;font-size:13px; font-weight:bold;color:#555555;font-family:arial,sans-serif; border-bottom:solid 1px #d9d9d9;">Description</td>
                        <td align="left" width="500px" style="margin:0px;padding:10px;font-size:13px; font-weight:bold;color:#555555;font-family:arial,sans-serif; border-bottom:solid 1px #d9d9d9;">Suggested Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                            Authorization
                        </td>
                        <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                            Access Token is missing in your headers from your request.
                        </td>
                        <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                            You need pass accesstoken in the headers of your request.
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                            Authorization
                        </td>
                        <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                            Access Token is expired.
                        </td>
                        <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                            You need to generate new accesstoken through GetAccessToken method in API Docs.
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                            AccountID 
                        </td>
                        <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                            AccountID is missing.
                        </td>
                        <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                            You need to pass valid AccountID in the post .
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top:30px;height:auto;">
            <h3 style="overflow:hidden;margin: 0px auto 24px;">
                <span class="pull-left">Sample Code</span>
            </h3>

            <div class="tabbable new-tabs sct-tabs" id="sample-code-tabs">
                <ul role="tablist" class="nav nav-pills" style="margin: 0px;">
                    <li id="javascptcode">
                        <a href="javascript:void(0)" onclick="myCodeFunction('JavaScript', 0)">JavaScript</a>
                    </li>
                    <li id="phpcode">
                        <a href="javascript:void(0)" onclick="myCodeFunction('PHP', 0)">PHP</a>
                    </li>
                    <li id="dotnetcode">
                        <a href="javascript:void(0)" onclick="myCodeFunction('C#', 0)">C#</a>
                    </li>
                    <li class="pull-right">
                        <a href="javascript:void(0)" id="copy-button" data-clipboard-target="htmlPrettifier" onclick="checkShocwaveStatus()" style="cursor:pointer;font-size:12px;">
                            <img src="~/img/copyiconimg.png" />
                            Copy to clipboard
                        </a>
                    </li>
                    <li class="pull-right">
                        <a href="javascript:void(0)" id="download-code" onclick="downloadcode()" style="font-size:12px;">
                            <img src="~/img/downloadiconimg.png" />
                            Download
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="htmlPrettifier">
                    <div class="tab-pane" id="javascptcode-1">
                        <pre class="brush: js; gutter: false;" id="jssc" style="border-radius: 0px;border-top: none;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
                           
                        </pre>
                    </div>
                    <div class="tab-pane " id="phpcode-2">
                        <pre class="brush: php; gutter: false;" id="phpsc">
                            
                        </pre>
                    </div>
                    <div class="tab-pane" id="dotnetcode-3">
                        <pre class="brush: csharp; gutter: false;" id="csc">
                           
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var WEBSERVICE_URL = '@HttpContext.Current.Application["webservice_url"]';
    var PostManURL = '@System.Web.Configuration.WebConfigurationManager.AppSettings["Post_Man_URL"]';

    $("#ptmnlnk").attr("href",PostManURL);

    function myCodeFunction(code, isAjaxNeeded){
        if(code == "JavaScript")
        {
            $("#dotnetcode").removeClass("active");
            $("#phpcode").removeClass("active");
            $("#javascptcode").addClass("active");
            $("#dotnetcode-3").removeClass("active");
            $("#phpcode-2").removeClass("active");
            $("#javascptcode-1").addClass("active");
            $("#copy-button").attr('data-clipboard-target','jssc');

            if (isAjaxNeeded == 1)
            $.ajax({
                url: WEBSERVICE_URL +"/api/DropdownValues",
                type: 'get',
                data:{"filename":"dropdownfieldsjavascriptcode.txt"},
                success: function (response) {
                    $('#jssc').html("");
                    $('#jssc').html(response.FileCode);
                },
                error: function(data){
                    alert(data.responseText);
                }
            });


        }
        else if(code == "PHP"){
            $("#dotnetcode").removeClass("active");
            $("#javascptcode").removeClass("active");
            $("#phpcode").addClass("active");
            $("#dotnetcode-3").removeClass("active");
            $("#javascptcode-1").removeClass("active");
            $("#phpcode-2").addClass("active");
            $("#copy-button").attr('data-clipboard-target','phpsc');

            if (isAjaxNeeded == 1)
            $.ajax({
                url: WEBSERVICE_URL +"/api/DropdownValues",
                type: 'get',
                data:{"filename":"dropdownfieldsphpcode.txt"},
                success: function (response) {
                    $('#phpsc').html("");
                    $('#phpsc').html(response.FileCode);
                },
                error: function(data){
                    alert(data.responseText);
                }
            });
        }
        else if(code == "C#"){

            $("#javascptcode").removeClass("active");
            $("#phpcode").removeClass("active");
            $("#dotnetcode").addClass("active");
            $("#phpcode-2").removeClass("active");
            $("#javascptcode-1").removeClass("active");
            $("#dotnetcode-3").addClass("active");
            $("#copy-button").attr('data-clipboard-target','csc');

            if (isAjaxNeeded == 1)
            $.ajax({
                url: WEBSERVICE_URL +"/api/DropdownValues",
                type: 'get',
                data:{"filename":"dropdownfieldsdotnetcode.txt"},
                success: function (response) {
                    $('#csc').html("");
                    $('#csc').html(response.FileCode);
                },
                error: function(data){
                    alert(data.responseText);
                }
            });

        }
    }

    zclipPath = location.protocol + "//" + location.host+ "/Scripts/ZeroClipboard.swf";
    var client = new ZeroClipboard( document.getElementById("copy-button"), {
        moviePath: zclipPath
    } );
    client.on( "load", function(client) {
        client.on( "complete", function(client, args) {
            alert("Copied HTML to clipboard"  );
        } );
    } );

    var checkShocwaveStatus = function () {
        if (navigator.mimeTypes ["application/x-shockwave-flash"] == undefined)
        {
            alert('Please enable Shockwave-Flash plugin in your browser to use this feature.');
        }
    };

    function downloadInnerHtml(filename){
        var elHtml = $('.tab-content .active').text();
        var link = document.createElement('a');
        mimeType = 'text/plain';

        link.setAttribute('download', filename);
        link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elHtml));
        link.click();
    }

    function downloadcode(){
        downloadInnerHtml('SampleCode.txt');
    }


    $(document).ready(function () {
        myCodeFunction('JavaScript', 1);
        myCodeFunction('PHP', 1);
        myCodeFunction('C#', 1);
        //setTimeout(function(){
        //    SyntaxHighlighter.all()
        //}, 2000);
        var data = @(Html.Raw(Json.Encode(Model)));
        selfAPI.CurrentModal().Parameters(data);
    });
</script>