<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="enterpriseConfiguration" type="LandmarkIT.Enterprise.Common.EnterpriseCommunicationConfigurationSection, LandmarkIT.Enterprise.Common" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="CRMDb" connectionString="Data Source=(local);Initial Catalog=SmartCRM;User ID=sa;Password=daynight1983; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
    <add name="CommunicationDb" connectionString="Data Source=(local);Initial Catalog=EnterpriseCommunication;User ID=sa;Password=daynight1983; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <enterpriseConfiguration>
    <enterpriseCommunication connectionStringName="CommunicationDb" />
  </enterpriseConfiguration>
  <appSettings>
    <add key="ELASTICSEARCH_INSTANCE" value="http://localhost:9200" />
    <add key="SMART_CRM_JOB_PROCESSOR_LOG_FILE_PATH" value="c:\Temp\SmartTouch\Logs\WebAnalyticsEngine.log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EMAILTEMPLATES_PHYSICAL_PATH" value="\\dexter\images\et" />
    <add key="MAIL_DELIVERY_PROCESS_PATH" value="D:/MailDelivery" />
    <add key="MAIL_DELIVERY_PROCESS_ARCHIVE_PATH" value="D:/MailDelivery_Archive" />
    <add key="LEADSCOREQUEUE" value="leadscoreqaqueue" />
    <add key="SERVICEBUS_TOPICNAME" value="smartcrmdevtopic" />
    <add key="SERVICEBUS_LEADSCORESUBSCRIPTION_NAME" value="leadscoremessages" />
    <add key="SERVICEBUS_AUTOMATIONSUBSCRIPTION_NAME" value="automationmessages" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://smartcrm.servicebus.windows.net/;SharedAccessKeyName=SmartCRM;SharedAccessKey=10w6H9ejhio4Zka6GWUDiY/fwldBl08TA618QDK9OIg=" />
    <add key="IMAGE_HOSTING_SERVICE_URL" value="//services.smarttouch.com/images/" />
    <add key="SMARTTOUCH_PARTNER_KEY" value="skUX3ezmzM58M" />
    <add key="SPLIT_VISIT_INTERVAL" value="1800" />
    <add key="INCLUDE_CURRENT_DAY_IN_DAILY_SUMMARY" value="false" />
    <add key="environment" value="QA" />
    <add key="iKey" value="fe4e792a-2131-4b47-891d-c962b27f4ca6" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="stdevnotifier@landmarkit.in">
        <network defaultCredentials="false" host="mail.landmarkit.in" port="587" enableSsl="false" userName="stdevnotifier@landmarkit.in" password="5!d3N0t!f!3R" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
