<div class="main-header">
    <span data-bind="text:'[|Test Form|]: '+Name()"></span>

    <span data-bind="click:exitTestForm" class="pull-right">
        <a class="btn btn-lg btn-primary" href="#">[|Exit Test Form|]</a>
    </span>
</div>
<div id="testform" data-bind="html:TestHTML">
</div>

