<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="CRMDb" connectionString="Data Source=192.168.1.14;Initial Catalog=SmartCRM;User ID=smarttouchdev;Password=myp@$$dev; multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LOG_FILE_PATH" value="D:\Websites\Logs\FullContactSync.log" />
    <add key="ACCOUNTS" value="1118,4218" />
    <add key="LIMIT" value="500" />
    <add key="FullContactKey" value="3127ab19ada7f15e" />        <!--1507969f91b55fe3 trail key-->
    <add key="IMAGE_PHYSICAL_PATH" value="\\192.168.1.103\images" />
    <add key="LOG_FILE_PATH" value="D:\Websites\Logs\FullcontactEngine.txt" />
    <add key="USERID" value="1" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="stdevnotifier@landmarkit.in">
        <network defaultCredentials="false" host="mail.landmarkit.in" port="587" enableSsl="false" userName="stdevnotifier@landmarkit.in" password="5!d3N0t!f!3R" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
