<section class="login-panel-right">
    <div class="promo">
        <div class="maintext">
            <div>See what's new with us.</div>
        </div>
        <div class="footertext">
            If you are having troubles with your login or any SmartTouch&#x00AE; CRM function
            <div>
                email us at: <a href="mailto:helpdesk@smarttouchinteractive.com" class="email">helpdesk@smarttouchinteractive.com</a> Or call us at:<span style="color:#88b764;"> (512) 582-5900 Ext. 6</span>
            </div>
        </div>
    </div>
    <div class="installations">
        <div class="msoutlook">
            <div>
                <span class="bold">Smart Tips:</span>
                <div>Simple tips & tricks to get the most out of SmartTouch&#x00AE; NexGen.</div>
            </div>
            <div class="ins-bg">
                <a href="https://youtu.be/Q4OuYQxQ1co" target="_blank">
                    <img src="~/img/Product Icon.png" />
                </a>
            </div>
        </div>
        <div class="msoutlook">
            <div>
                <span class="bold">Latest Webinar:</span>
                <div>Learn from some of the industry's best sales and marketing trainers.</div>
            </div>
            <div class="ins-bg">
                <a href="http://www.smarttouchinteractive.com/newsblog/the-who-how-why-of-the-new-construction-buyer-presented-by-zillow-group/" target="_blank">
                    <img src="~/img/Sales Icon.png" />
                </a>
            </div>
        </div>
        <div class="msoutlook">
            <div>
                <span class="bold">Marketing Services:</span>
                Combine SmartTouch&#x00AE; NexGen with a customized lead generation program.
            </div>
            <div class="ins-bg">
                <a href="http://www.smarttouchinteractive.com/about-us/" target="_blank">
                    <img src="~/img/Marketing Icon.png" />
                </a>
            </div>
        </div>
    </div>
</section>
