@{
    ViewBag.Title = "AddAction";
}

<div id="partial-POST-AddAction">
    <div data-bind="text:MethodDescription().Documentation"></div>
    @Html.Partial("_RequestParameters")

    <h3>Request Formats</h3>

    <div>
        <h4 class="sample-header">application/json</h4>
        <div class="sample-content">
            <span><b>Sample:</b></span>
            <pre>
                {
                    ActionType : 1234,
		            ActionDate : "Thu Aug 03 2017 21:10:15 GMT+0530",
		            ActionStartTime : "Thu Aug 03 2017 21:10:15 GMT+0530",
		            ActionEndTime : "Thu Aug 03 2017 21:10:15 GMT+0530",
		            ActionMessage : "Sample action message",
		            SelectedReminderTypes : [2, 3],
		            RemindOn : "Thu Aug 03 2017 21:10:15 GMT+0530",
		            IsCompleted : 1,
		            IcsCanlender : 1,
		            AddToNoteSummary : 1,
		            OwnerIds : [6889, 3456],
		            Contacts : [{ Id: 756989}, {Id : 85476045 }],
		            TagsList : [TGA, Brooklyn],
		            CreatedOn : "Thu Aug 03 2017 21:10:15 GMT+0530",
		            CreatedBy : 6889,
		            LastUpdatedOn : null
                }
</pre>

        </div>
    </div>
    <h2>Response Information</h2>

    <h3>Resource Description</h3>

    <p>Add Action Details</p>

    <a target="_blank" href="/Help/ResourceModel?modelName=HttpResponseMessage">HttpResponseMessage</a>    <table class="help-page-table">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Type</th><th>Additional information</th></tr>
        </thead>
        <tbody>
            <tr>
                <td class="parameter-name">Version</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    <a target="_blank" href="/Help/ResourceModel?modelName=Version">Version</a>
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">Content</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    <a target="_blank" href="/Help/ResourceModel?modelName=HttpContent">HttpContent</a>
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">StatusCode</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    <a target="_blank" href="/Help/ResourceModel?modelName=HttpStatusCode">HttpStatusCode</a>
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">ReasonPhrase</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    string
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">Headers</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    Collection of             Object


                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">RequestMessage</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    <a target="_blank" href="/Help/ResourceModel?modelName=HttpRequestMessage">HttpRequestMessage</a>
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
            <tr>
                <td class="parameter-name">IsSuccessStatusCode</td>
                <td class="parameter-documentation">
                    <p></p>
                </td>
                <td class="parameter-type">
                    boolean
                </td>
                <td class="parameter-annotations">
                    <p>None.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <h3>Response Formats</h3>

        <h4 class="sample-header">text/json</h4>
        <div class="sample-content">
            <span><b>Sample:</b></span>
            <p>
                Your submission has been scheduled, please view after 30sec .
            </p>

        </div>
        <div>
            <h3>API examples</h3>
            <p>
                SmartTouch CRM Enterprise customers should make sure to change the API endpoint domain in all the example calls to the domain for their specific environment.
            </p>

        </div>
        <div>
            <h3>Using Postman</h3>
            <p>
                If you use <a target="_blank" href="https://developers.sparkpost.com/api/?_ga=1.31126975.1017077945.1490713834">Postman</a> you can click the following button to import the SmartTouch CRM API as a collection:
            </p>
            <p>
                <a id="ptmnlnk" href="javascript:void(0)"><img src="~/img/postrunbutton.png" /></a>
            </p>
            <div class="alert alert-info"><strong>Note</strong>: SmartTouch CRM Enterprise customers will need to change the Account and  endpoint in the URL field for each call</div>
        </div>
        <div>
            <h3>Errors</h3>
            <p>When you make an API call you may receive an error message in response. Either there is something wrong with your request or something went wrong on our end. Errors respond with an error code and JSON that contains a more precise message, description and API code.</p>
        </div>
        <div>
            <h3>Example Error</h3>
            <pre><code><span class="hljs-number"></span> Action Details are mandatory.</code></pre>
            <pre><code>{
    "<span class="hljs-attribute">errors</span>": <span class="hljs-value">[
        {
            "<span class="hljs-attribute">ActionMessage</span>": <span class="hljs-value"><span class="hljs-string">"null"</span></span>,
            "<span class="hljs-attribute">description</span>": <span class="hljs-value"><span class="hljs-string">"ActionMessage value is required"</span></span>,
        }
    ]
</span>}</code></pre>
        </div>
    </div>
<div>
    <h3>
        Error Table
    </h3>
    <table cellpadding="0" cellspacing="0" border="0" style="border:solid 1px #d9d9d9;">
        <thead>
            <tr>
                <td align="left" width="200px" style="margin:0px;padding:10px;font-size:13px; font-weight:bold;color:#555555;font-family:arial,sans-serif; border-bottom:solid 1px #d9d9d9;">Status Name</td>
                <td align="left" width="500px" style="margin:0px;padding:10px;font-size:13px; font-weight:bold;color:#555555;font-family:arial,sans-serif; border-bottom:solid 1px #d9d9d9;">Description</td>
                <td align="left" width="500px" style="margin:0px;padding:10px;font-size:13px; font-weight:bold;color:#555555;font-family:arial,sans-serif; border-bottom:solid 1px #d9d9d9;">Suggested Action</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    Authorization
                </td>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    Access Token is missing in your headers from your request.
                </td>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    You need pass accesstoken in the headers of your request.
                </td>
            </tr>
            <tr>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    Authorization
                </td>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    Access Token is expired.
                </td>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    You need to generate new accesstoken through GetAccessToken method in API Docs.
                </td>
            </tr>
            <tr>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    Action Message
                </td>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    Action Message is mandatory..
                </td>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    You need to pass Action Message in the ActionMessage field in Action object.
                </td>
            </tr>
            <tr>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    Error
                </td>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    Madatory fields are required.
                </td>
                <td align="left" style="margin:0px;padding:10px;font-size:13px; font-weight:normal;color:#555555;font-family:arial,sans-serif;border-bottom:solid 1px #d9d9d9;">
                    You need to pass ActionMessage&Contacts&ActionDate  in Action object.
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div style="margin-top:30px;height:auto;">
    <h3 style="overflow:hidden;margin: 0px auto 24px;">
        <span class="pull-left">Sample Code</span>
    </h3>

    <div class="tabbable new-tabs sct-tabs" id="sample-code-tabs">
        <ul role="tablist" class="nav nav-pills" style="margin: 0px;">
            <li id="javascptcode">
                <a href="javascript:void(0)" onclick="myCodeFunction('JavaScript', 0)">JavaScript</a>
            </li>
            <li id="phpcode">
                <a href="javascript:void(0)" onclick="myCodeFunction('PHP', 0)">PHP</a>
            </li>
            <li id="dotnetcode">
                <a href="javascript:void(0)" onclick="myCodeFunction('C#', 0)">C#</a>
            </li>
            <li class="pull-right">
                <a href="javascript:void(0)" id="copy-button" data-clipboard-target="htmlPrettifier" onclick="checkShocwaveStatus()" style="cursor:pointer;font-size:12px;">
                    <img src="~/img/copyiconimg.png" />
                    Copy to clipboard
                </a>
            </li>
            <li class="pull-right">
                <a href="javascript:void(0)" id="download-code" onclick="downloadcode()" style="font-size:12px;">
                    <img src="~/img/downloadiconimg.png" />
                    Download
                </a>
            </li>
        </ul>
        <div class="tab-content" id="htmlPrettifier">
            <div class="tab-pane" id="javascptcode-1">
                <pre class="brush: js; gutter: false;" id="jssc" style="border-radius: 0px;border-top: none;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
                           
                         </pre>
            </div>
            <div class="tab-pane " id="phpcode-2">
                <pre class="brush: php; gutter: false;" id="phpsc">
                            
                        </pre>
            </div>
            <div class="tab-pane" id="dotnetcode-3">
                <pre class="brush: csharp; gutter: false;" id="csc">
                           
                        </pre>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var WEBSERVICE_URL = '@HttpContext.Current.Application["webservice_url"]';

    var PostManURL = '@System.Web.Configuration.WebConfigurationManager.AppSettings["Post_Man_URL"]';

    $("#ptmnlnk").attr("href",PostManURL);

    function myCodeFunction(code, isAjaxNeeded){
        if(code == "JavaScript")
        {
            $("#dotnetcode").removeClass("active");
            $("#phpcode").removeClass("active");
            $("#javascptcode").addClass("active");
            $("#dotnetcode-3").removeClass("active");
            $("#phpcode-2").removeClass("active");
            $("#javascptcode-1").addClass("active");
            $("#copy-button").attr('data-clipboard-target','jssc');

            if (isAjaxNeeded == 1)
                $.ajax({
                    url: WEBSERVICE_URL +"/api/DropdownValues",
                    type: 'get',
                    data:{"filename":"AddActionJavaScriptCode.txt"},
                    success: function (response) {
                        $('#jssc').html("");
                        $('#jssc').html(response.FileCode);
                    },
                    error: function(data){
                        alert(data.responseText);
                    }
                });


        }
        else if(code == "PHP"){
            $("#dotnetcode").removeClass("active");
            $("#javascptcode").removeClass("active");
            $("#phpcode").addClass("active");
            $("#dotnetcode-3").removeClass("active");
            $("#javascptcode-1").removeClass("active");
            $("#phpcode-2").addClass("active");
            $("#copy-button").attr('data-clipboard-target','phpsc');

            if (isAjaxNeeded == 1)
                $.ajax({
                    url: WEBSERVICE_URL +"/api/DropdownValues",
                    type: 'get',
                    data:{"filename":"AddActionPhpCode.txt"},
                    success: function (response) {
                        $('#phpsc').html("");
                        $('#phpsc').html(response.FileCode);
                    },
                    error: function(data){
                        alert(data.responseText);
                    }
                });
        }
        else if(code == "C#"){

            $("#javascptcode").removeClass("active");
            $("#phpcode").removeClass("active");
            $("#dotnetcode").addClass("active");
            $("#phpcode-2").removeClass("active");
            $("#javascptcode-1").removeClass("active");
            $("#dotnetcode-3").addClass("active");
            $("#copy-button").attr('data-clipboard-target','csc');

            if (isAjaxNeeded == 1)
                $.ajax({
                    url: WEBSERVICE_URL +"/api/DropdownValues",
                    type: 'get',
                    data:{"filename":"AddActionDotNetCode.txt"},
                    success: function (response) {
                        $('#csc').html("");
                        $('#csc').html(response.FileCode);
                    },
                    error: function(data){
                        alert(data.responseText);
                    }
                });

        }

    }

    zclipPath = location.protocol + "//" + location.host+ "/Scripts/ZeroClipboard.swf";
    var client = new ZeroClipboard( document.getElementById("copy-button"), {
        moviePath: zclipPath
    } );
    client.on( "load", function(client) {
        client.on( "complete", function(client, args) {
            alert("Copied HTML to clipboard"  );
        } );
    } );

    var checkShocwaveStatus = function () {
        if (navigator.mimeTypes ["application/x-shockwave-flash"] == undefined)
        {
            alert('Please enable Shockwave-Flash plugin in your browser to use this feature.');
        }
    };

    function downloadInnerHtml(filename){
        var elHtml = $('.tab-content .active').text();
        var link = document.createElement('a');
        mimeType = 'text/plain';

        link.setAttribute('download', filename);
        link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elHtml));
        link.click();
    }

    function downloadcode(){
        downloadInnerHtml('SampleCode.txt');
    }

    $(document).ready(function () {

        myCodeFunction('JavaScript', 1);
        myCodeFunction('PHP', 1);
        myCodeFunction('C#', 1);

        var data = @(Html.Raw(Json.Encode(Model)));
        var methodName = ko.utils.arrayFirst(selfAPI.ExcludedActionProperties, function(e){
            return selfAPI.CurrentModal().MethodDescription().ID == e.MethodName;
        });

        var propertiesToShow = ko.utils.arrayFilter(data,function(d){
            return methodName.Properties.map(function(m){ return m != d.Name}).indexOf(false) < 0;
        })

        selfAPI.CurrentModal().Parameters(propertiesToShow);
    });
</script>

