
<div class="content-wrapper" id="partialView">
    <div id="quick-reference-body">
        <div style="padding-bottom:10px">
            <p>
                The SmartTouch Interactive API endpoint is <a id="location-origin" href=""></a> and all paths below are relative to that.
            </p>
        </div>
        <table class="table table-bordered" style="width:95%">
            <thead>
                <tr>
                    <td>API Docs</td>
                    <td>API Docs</td>
                    <td>API Docs</td>
                </tr>

            </thead>
            <tr data-bind="visible:false">
                <td>API Docs</td>
                <td>API Docs</td>
                <td>API Docs</td>
            </tr>
            <tr>
                <td>API Docs</td>
                <td>API Docs</td>
                <td>API Docs</td>
            </tr>

            <tr>
                <td>API Docs</td>
                <td>API Docs</td>
                <td>API Docs</td>
            </tr>
        </table>
    </div>
</div>
<script>
    jQuery('#location-origin').text(location.origin + '/help');
</script>